<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />  
  <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">  
  <link rel="stylesheet" href="/styles.css">
  <title>Tim Novis</title>
</head>
<body>
  <header>
    <h1 class="logo"><a href="/">Tim Novis</a></h1>
    <p>javascripty person and content consumer</p>
  </header>
  <main>
    {% block main %}

    {% endblock %}
  </main>
  <footer>
    &copy; Tim Novis
    <nav>
        <a href="https://twitter.com/timnovis">twitter/ @timnovis</a>
        <a href="https://instagram.com/timnovis">instagram/ @timnovis</a>
    </nav>
  </footer>
</body>
</html>