<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ $isHomePage := eq .Title .Site.Title }}{{ .Title }}
      {{ if eq $isHomePage false }}
        -
        {{ .Site.Title }}
      {{ end }}
    </title>
    <meta name="description" content="{{ if .IsPage }} {{ .Summary | plainify }} {{ else }}Software developer based in London. Working with TypeScript, Node.js and web technologies.{{ end }}">
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:description" content="{{ if .IsPage }} {{ .Summary | plainify }} {{ else }}Software developer based in London. Working with TypeScript, Node.js and web technologies.{{ end }}"/>
    <meta name="twitter:title" content="{{ $isHomePage := eq .Title .Site.Title }}{{ .Title }}{{ if eq $isHomePage false }} - {{ .Site.Title }}{{ end }}"/>
    <meta name="twitter:site" content="@timnovis"/>
    <meta name="twitter:creator" content="@timnovis"/>
    <link rel="stylesheet" type="text/css" href="/css/styles{{ $.Site.Params.style }}.css">
    <link rel="stylesheet" type="text/css" href="/css/syntax.css">
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16"/>
  </head>

  <body>
    <header>
      <h1 class="logo">
        <a href="/">{{ $.Site.Title }}</a>
      </h1>
      <a href="/about">about</a>
    </header>