{{ .Scratch.Set "main_class" "home" }}
{{ partial "header.html" . }}

<section class="flex">
  <section class="home-col">
    <header>
      <h1>Tim Novis
        <span>is a software engineer</span></h1>
      <p>Welcome to my website, I'm glad you're here. I'm a software engineer based in London.</p>
    </header>
    <article>
      <p>I help companies build their products mainly using web technologies, supported by tools such as TypeScript, Node.js, React and React Native.</p>

      <p>I currently work as a senior engineer at
        <a href="https://dice.fm/">DICE</a>, helping to ship their front-end product, enabling more fans to get to events. I also advise
        <a href="https://contact.agency/">Contact</a>, and help out with their iOS app.
      </p>

      <p>
        <a href="https://twitter.com/timnovis">Say hi!</a>
      </p>
    </article>
  </section>
</section>

{{ partial "footer.html" . }}