{{ .Scratch.Set "main_class" "home" }}
{{ partial "header.html" . }}

<section class="flex">
  <section class="home-col">
    <header>
      <h1>Tim Novis</h1>
      <p>Welcome, I'm a software engineer based in London.</p>
    </header>
    <article>
      <p>I work mainly with web technologies such as TypeScript, Node.js and React, but I do other stuff too.</p>

      <p>Currently, I'm a senior web engineer at
        <a href="https://www.depop.com/">Depop</a>.
      </p>
    </article>
  </section>
</section>

{{ partial "footer.html" . }}
